:root{
   --color-dark: #333333;
   --color-gray: #696969;
   --color-light: #cccccc;
   --color-lighter: #f4f4f4;
   --color-lightest: #f9f9f9;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
	font-family: 'Ubuntu',sans-serif;
	color: var(--color-gray);
}


input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--color-light);
	border-radius: 2px;
}

input:disabled {
	color: var(--color-light);
}

button {
	color: var(--color-dark);
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: var(--color-gray);
}

button:not(:disabled):active {
	background-color: var(--color-light);
}

button:focus {
	border-color: var(--color-gray);
}